@layer theme, base, mui, components, utilities;
@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';


html {
  /* overflow: auto; */
  scroll-behavior: smooth;
}

body {
  color: #171717;
  font-family: 'Carlito', sans-serif;
}

.radial-bg {
  background: radial-gradient(#C6B299, #EDE5DB00);
}

@theme {
  --color-primary-400: #EDE5DB;
  --color-primary-600: #C6B299;
}
